<section class = "card">
    <a href = "/category/{{category_id}}">
        <header>{{category_name}}</header>
        <img src ="/images/{{category_name}}.jpg" alt="{{category_name}}" height=100 width=400>
    </a>
</section>