<div class = "card">
    <a href = "/product/{{product_id}}">
    <header>{{product_name}}</header>
    <div class = "card-body">
        <p><span>Stock: {{product_stock}}</span> <span>Price: ${{product_price}}</span></p>
    </div>
    </a>
</div>