<section class = "card">
    <a href = "/product/{{id}}">
    <header>{{title}}</header>
    <div class = "card-body">
        <img src = "/images/{{filename}}" lat = "{{description}}">
    </div>
    </a>
</section>