<section>
    <h3 class = "category-name">{{category.category_name}}</h3>
        {{> category-banner}}

    <div class="card-deck">
        <div class="card"> 
        {{#each category.products as |product|}}
        {{> product-details}}
        {{/each}}
        </div>
    </div>
</section>