<div class='signup-container'>
  <h1>Sign up</h1>
  <form id='signup-form'>
    <input type='text' id='username-signup' placeholder='Username  *required' />
    <input type='email' id='email-signup' placeholder='Email  *required' />
    <input
      type='password'
      id='password-signup'
      placeholder='Password  *required'
    />
    <h1 id='signup-status'>Fill in all required inputs </h1>
    <button id='submit-btn' type='submit'>Signup</button>
  </form>
</div>

<script src="/js/signup.js"></script>