/* Base CSS */
#root {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat','Roboto', sans-serif;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .category {
    flex:4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  /* img {
    max-width: 100%;
    height: auto;
  } */


/* Login styling */
.login-sigup-container {
  border-radius: 5px;
  padding: 10px;
  background-color:#BEEEFF;
}

.signup-container, 
.login-container {
  padding: 10px;
}

#password-login, 
#email-login,
#username-signup,
#email-signup,
#password-signup {
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
}

#signup-h1
#login-h1 {
  font-size: medium;
}